/************************************
	Animations
************************************/
.animated {
	animation-duration: 0.8s;
  animation-fill-mode: both;
	animation-delay: 0.2s;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
/**FadeIn**/

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.fadeIn {
	animation-name: fadeIn;
}

/**FadeInDown**/
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}
/**FadeInUp**/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}
/**FadeInLeft**/
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate(-50px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}
/**FadeInRight**/
@keyframes fadeInRight{
  from {
    opacity: 0;
    transform: translate(50px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

/**rotateLeft**/
@keyframes rotateLeft {
  from {
		opacity: 0;
    transform: rotateY(90deg)
  }
  to {
		opacity: 1;
    transform: rotateY(0)
  }
}
.rotateLeft {
  animation-name: rotateLeft;
}
/**Jump**/
@keyframes jump {
  0% {
    transform: translate3d(0, 8px, 0);
  }

  50% {
   transform: translate3d(0, 0, 0);
  }
	100% {
    transform: translate3d(0, 8px, 0);
  }
}
.jump {
  animation-name: jump;
}

/**Full background**/
@keyframes fullBg {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.fullBg {
	animation-name: fullBg;
}
/**background in right**/
.bgInRight {
	animation: bgInRight ease-in 0.5s forwards 0.6s;
}

@keyframes bgInRight {
	from {
		background-position: 1920px 0;
	}
	to {
		background-position: center center;
	}
}
/**background in left**/
.bgInLeft {
	animation: bgInLeft ease-in 0.5s forwards 0.6s;
}

@keyframes bgInLeft {
	from {
		background-position: -1920px 0;
	}
	to {
		background-position: center center;
	}
}
/**zoomin**/
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}


