/************************************
Block tabs
************************************/

.block-tabs {
	
	.block-columns {
		display: flex;
		margin-left: -15px;
		margin-right: -15px;
		flex-direction: row;
		div.item-col {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	
	/*************
	style default
	**************/
	.default-tabs {
		.nav-tabs {
			border-bottom-width:0;
			li {
				@media(max-width:600px) {
					display: block;
					float: none;
				}
			}
			> li > a {
				display: block;
				position: relative;
				padding: 7px 25px;
				line-height: 3;
				background-color: #f3f3f3;
				border-color: #ddd #ddd #ddd #ddd;
				border-image: none;
				border-style: solid;
				border-width: 1px 1px 1px 1px;
				border-radius: 1px 1px 1px 1px;
				margin:0;
				border-right-width:0;
				@media(max-width:600px) {
					border-right-width:1px;
				}
			}
			> li:last-child > a {
				border-right-width:1px !important;
			}
			> li:last-child > a:hover {
				border-right-width:1px !important;
			}
			//active
			> li > a.active,  
			> li > a.active:focus,
			> li > aactive:hover {
				background-color: $link-color;
				color:#fff;
				border-bottom-width:1px;
				border-color:$link-color;
				border-right-width: 0;
				cursor: pointer;
			}
			//
			> li > a.active:hover {
				border-bottom-width:1px;
				border-bottom-color:$link-color;
				border-right-width: 0;
				cursor: pointer;
			}
		}
		.tab-content {
			padding: 30px;
			border:1px solid #ddd;
		}
	}
	/*************
	style line
	**************/
	.line-tabs {
		.content-nav-line {
			text-align: center;
			.nav-tabs-line {
				border-bottom: 1px solid #eee;
				padding-left: 0;
				li {
					padding: 10px 15px;
					display: inline-block;
					float: none;
					position: relative;
					text-transform: uppercase;
					@media(max-width:600px) {
						display: block;
						float: none;
					}
					a {
						padding: 10px 15px;
						&.active ~  .border-after {
							@extend .transition;
							display: block;
							position: absolute;
							bottom:-2px;
							height: 3px;
							left: 0;
							width:100%;
							background-color: $link-color;
						}
					}
				}
			}
		}
		.tab-content {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
}