/************************************
Block alternate
************************************/

.block-alternate {
	padding-bottom: 0;
	padding-top: 0;
	.content-text {
		padding:5% 15%;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		h2 {
			margin-bottom: 40px;
		}
		.box-text {
			/*padding-left: 100px;
			position: relative;
			&:before {
				content: '';
				display: block;
				width: 75px;
				height: 4px;
				position: absolute;
				background-color: $evidence;
				left: 0;
				top:10px;
			}*/
		}
		.btn {
			
		}
	}
	.box-img {
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.container_fluid,
	.container {
		.row {
			margin: 0;
			align-items: stretch;
			justify-content: center;
			display: flex;
			div[class^="col"] {
				padding: 0;
				height: auto;
				min-height: 200px;
				align-self:stretch;
			}
		}
	}
}