/************************************
Box pages
************************************/
.block-pages {
	.content-post-alternate {
		margin-bottom:40px;
		background-color: #fff;
		padding: 10px;
		&:after {
			content:'';
			display: block;
			clear: both;
		}
		figure {
			padding: 0;
		}
		@media(min-width:576px) {
			&.even-post {
				figure {
					order:2;
				}
			}
		}
	}
	article {
		position: relative;
		z-index: 2;
		height: 100%;
		color: #fff;
	}
	.content-box-page {
		padding: 10%;
		h2 {
			color:#fff;
		}
		.box-text {
			.entry-summary {
				opacity: 0;
				visibility: hidden;
				transition: all ease-out 0.4s;
				transform: translate(0,10%);
			}
		}
		&:hover {
			.box-text {
				.entry-summary {
					opacity: 1;
					visibility: visible;
					transform: translate(0,0);
				}
			}
		}
	}
	.content-bg-page {
		.box-img {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			min-height: 450px;
			height: 100%;
			/*display: flex;
			justify-content: center;
			flex-direction: column;
			align-self: center;*/
		}
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width:100%;
			bottom:0;
			background-color: #000;
			opacity: 0.4;
			z-index: 1;
			transition: all ease-out 0.4s;
		}
		&:hover {
			.overlay {
				opacity: 0.3;
			}
		}
	}
	div[class^="col"] {
	padding-left: 0;
	padding-right: 0;
}
}
