/************************************
Box icons
************************************/

/*column style1,style2,style3*/
.block-columns-icons:after {
	content: '';
	display: block;
	clear: both;
	height: 1px;
}

/*end column*/
.feature-icons {
	.box-content {
		.box-text {
			padding:0;
		}
		&:after {
			content: '';
			display: block;
			height: 1px;
			clear: both;
		}
	}
	.title-icon {
		font-size: 20px;				
	}
}
/*style 1*/
.feature-icons.style1 {
	.box-icon {
		display: inline-block;
		//border:1px solid #00A888;
		float: left;
		position: relative;
		text-align: center;
		font-size: 25px;
		height: 75px;
		line-height:75px;
		width: 75px;
		color:#fff;
		background-color:  $evidence;
		@media(max-width:$screen-sm-min) {
			margin-right: 10px;
			padding-left: 0;
		}
	}
	.box-text {
		padding-left: 95px;
		margin-bottom: 40px;
	}
}

/*style 2*/
.feature-icons.style2 {
	text-align: center;
	.box-content {
		padding: 20px;
		margin-bottom: 40px;
		@media(max-width:$screen-xs-max) {
			padding: 10px;
			margin-bottom: 10px;
		}
		.box-icon {
			display: inline-block;
			//border:1px solid #00A888;
			position: relative;
			text-align: center;
			font-size: 25px;
			height: 75px;
			line-height:75px;
			width: 75px;
			margin:15px auto;
			color:#fff;
			background-color:  $evidence;
			@media(max-width:$screen-sm-min) {
			}
		}
	}
	.box-text {
		margin-bottom: 30px;
	}
}
/*style 3*/
.feature-icons.style3	{
	text-align: center;
	
	@media(max-width:$screen-xs-max) {
		padding:0 !important;
		margin-bottom: 20px;
	}
	.container-full {
		@media (min-width:$screen-sm-min) { 
			display: table;
			width: 100%;
			//table-layout: fixed;
		}
		.row {
			@media (min-width:$screen-sm-min) { 
				display: table-row;
				height: 100%;
				min-height: 100%;
				width: 100%;
			}
			> div {
				padding-left: 0;
				padding-right: 0;
				border-right:1px solid #fff;
				border-bottom:1px solid #fff;
				text-align: center;
				@extend .transition;
				@media (min-width:$screen-sm-min) { 
					display: table-cell;
					height: 100%;
					min-height: 100%;
					width: auto;
					float: none;
				}
				.box-content {
					padding: 25px 45px;
					margin-bottom: 40px;
					@media(max-width:$screen-xs-max) {
						padding: 20px 45px 20px 45px;
						margin-bottom: 0;
					}
					@media(max-width:$screen-sm-max) {
						padding: 20px 45px 20px 45px;
						margin-bottom: 0;
					}
					.box-icon {
						@extend .transition;
						display: inline-block;
						//border:1px solid #00A888;
						position: relative;
						text-align: center;
						font-size: 35px;
						height: 90px;
						line-height:90px;
						width: 90px;
						margin:20px auto 0 auto;
						color:#fff;
						@media(max-width:$screen-xs-max) {
							height: auto;
							line-height: 1.4;
							width: auto;
							margin-top: 0;
						}
						@media(max-width:$screen-sm-max) {
							height: auto;
							line-height: 1.4;
							width: auto;
							margin-top: 0;
						}
					}
				}
				&:last-child {
					border-right-width: 0 !important;
				}
				.box-text {
					max-width: 280px;
					margin-left: auto;
					margin-right: auto;
					min-height:130px;
					@extend .transition;
					@media(max-width:$screen-xs-max) {
						height: auto;
						margin-bottom: 0;
					}
					@media(max-width:$screen-sm-max) {
						height: auto;
						margin-bottom: 0;
					}
				}
				//hover
				&:hover {
					background-color: $bg-body !important;
					color:$text-color !important;
					.box-icon {
						color:$text-color !important;
						background-color:transparent !important;
					}
					.box-text { 
						color:$text-color !important;
					}
				}
			}
		}
	}
}

/*Icons circle*/
.feature-icons.icons-circle {
	.box-icon {
		border-radius: 50%;
	}
}

//three columns
.block-columns-icons.block-columns-three .item-col {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	@media (min-width:$screen-md-min) {
		width:33.33%;
		&:nth-child(4),
		&:nth-child(7),
		&:nth-child(10) {
			clear:both;
		}
	}
	@media (max-width:$screen-sm-max) {
		width:50%;
		&:nth-child(4),
		&:nth-child(7),
		&:nth-child(10) {
			clear:none;
		}
		&:nth-child(1),
		&:nth-child(3),
		&:nth-child(5),
		&:nth-child(7),
		&:nth-child(9),
		&:nth-child(11) {
			clear:both;
		}
	}
	@media (max-width:$screen-xs-max) {
		width:100%;
	}
}
//four columns
.block-columns-icons.block-columns-four .item-col {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	@media (min-width:$screen-md-min) {
		width:25%;
		&:nth-child(5),
		&:nth-child(9),
		&:nth-child(13) {
			clear:both;
		}
	}
	@media (max-width:$screen-sm-max) {
		width:50%;
		&:nth-child(5),
		&:nth-child(9),
		&:nth-child(13) {
			clear:none;
		}

		&:nth-child(1),
		&:nth-child(3),
		&:nth-child(5),
		&:nth-child(7),
		&:nth-child(9),
		&:nth-child(11) {
			clear:both;
		}
	}
	@media (max-width:$screen-xs-max) {
		width:100%;
	}
}