/************************************
Block accordion
************************************/
.block-accordions {
	.panel-group {
		.panel {
			border-radius: 1px;
			margin-top: 0;
			margin-bottom: 6px;
			border-width: 0 0 0 0;
			box-shadow: 0 0 0 rgba(0, 0, 0, 0);
			.panel-heading {
				padding: 0;
				display: block;
				line-height: 3;
				h4 {
					line-height: 3;
					background-color: #F3F3F3;
					padding: 5px 25px; 
					margin: 0;
					&:hover {
						cursor: pointer;
					}
				}

				&.accordion-toggle {
					h4 {
						//color:$link-color;
					}
				}
				&.accordion-toggle.collapsed {
					h4 {
					}
				}
				span {
					line-height: 3;
					float: right;
				}

			}
			.panel-body {
				border: 1px solid #F3F3F3;
				padding: 15px;
			}
		}
	}
	
}
