// Columns
.block-columns:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
}

.block-columns {
	.col {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 10px;
	}
	.box-text {
		padding: 20px;
	}
	.box-img {
	}
}