
/* Block divider
-----------------------------*/
.hr-custom {
	display: block;
	float: left;
	height: auto;
	margin: 0;
	min-height: 33px;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	text-align: center;
	span {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		&.hr-inner {
			margin-left: 15px;
			margin-right: 15px;
			border-top-style: solid;
			border-top-width: 1px;
			border-color:#ddd;
			height: 1px;
			margin-top: -1px;
			width:100px;
		}
		&.hr-icon {
			color:$text-color;
			font-size: 18px;
		}
	}
}

.block-flex.block-divider {
	@media(max-width:$screen-xs-max) {
		padding:10px 0 !important;
	}
}