/************************************
Box skills
************************************/
.block-skills {
	.editor-skills {
		padding-right: 40px;
		@media (max-width:$screen-sm-min) {
			padding-right: 0;
		}
	}
	.progress {
		border-radius: 0;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
		height: 26px;
		margin-bottom: 20px;
		overflow: hidden;

		.progress-bar {
			height: 26px;
			box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
			color: #fff;
			line-height: 26px;
			text-align: center;
			transition: width 1s ease 0.4s;
			width: 0;
		}
	}
}