/************************************
Block info
************************************/
.block-info-box.block-flex {

}
.featuers-wrapper {
	position: relative;
	background-size: cover;
	&:after {
		content:'';
		display: block;
		height: 1px;
		clear: both;
	}
	.block-text {
		//border-bottom: 1px solid #ddd;
	}
	.block-icon {
		background-color: $color2;
		color: #fff;
		display: inline-block;
		float: left;
		font-size: 28px;
		height: 70px;
		line-height: 70px;
		position: relative;
		text-align: center;
		width: 70px;
		border-radius: 50%;
	}
	.features-center {
		//padding-left: 60px;
		//padding-right: 60px;
		img {
		}
	}
	.features-left,
	.features-right {
		margin-bottom: 40px;
	}
	.features-left {
		position: relative;
		padding-right: 100px;
		text-align: right;
		.block-text {
    		padding: 0 5px 0 5px !important;
			}
		.block-icon {
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -30px;
		}
		@media(max-width:$screen-sm-min) {
			.block-text {
    		padding: 0 5px 0 20px !important;
			}
			.block-icon { 
				margin-right: 0;
			}
		}
		@media(max-width:$screen-xs-max) {
			text-align: left;
			padding-left: 70px;
			padding-right: 0;
			.block-icon {
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -30px;
			}
		}
	}
	.features-right {
		position: relative;
		padding-left: 100px;
		text-align: left;
		.block-icon {
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -30px;
		}
		.block-text {
    		padding: 0 5px 0 5px !important;
			}
		@media(max-width:$screen-sm-min) {
			.block-text {
    		padding: 0 5px 0 20px !important;
			}
			.block-icon { 
				margin-left: 0;
			}
		}
		@media(max-width:$screen-xs-max) {
			padding-left: 70px;
		}
	}
}