
/* Number
-----------------------------*/
/*counter number brand*/
.block-numbers {
	//border-top:1px solid #fff;
	position: relative;
	.container-number-text {
		position: relative;
		z-index: 1;
		h4 {
			margin-top: 0;
			margin-bottom: 0;
		}
		i.fa{
			display: inline-block;
			//border: 1px solid #fff;
			//border-radius: 50%;
			font-size: 44px;
			line-height: 80px;
			font-weight: 400;
			height: 80px;
			width: 80px;
			text-align: center;
			margin-top: 10px;
		}
		.animate-count {
			padding-top: 10px;
			padding-bottom: 10px;

		}
		.timer {
			font-size: 50px;
			font-weight: 600;
			line-height: 1;
			margin-bottom: 20px;
			margin-top: 10px;
		}
	}
	/*counter number brand*/
	.block-numbers-block {
		h4 {
			margin-top: 0;
			margin-bottom: 0;
		}
		i.fa {
			display: inline-block;
			//border: 1px solid #fff;
			//border-radius: 50%;
			font-size: 33px;
			line-height: 80px;
			font-weight: 400;
			height: 80px;
			width: 80px;
			text-align: center;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.animate-count {
			padding-top: 70px;
			padding-bottom: 70px;

		}
		.timer {
			font-size: 50px;
			font-weight: 600;
			line-height: 1;
			margin-bottom: 20px;
			margin-top: 10px;
		}
	}
}