/************************************
block-icons-lists
************************************/
.block-icons-lists {
 .box-content {
  margin-bottom: 40px;
  &:after {
   content: '';
   clear: both;
   display: block;
  }
  .box-icon {
   display: inline-block;
    float: left;
    font-size: 25px;
    height: 60px;
   width: 60px;
    line-height: 60px;
    position: relative;
    text-align: center;
    
   @media(max-width:$screen-sm-min) {
    margin-right: 10px;
    padding-left: 0;
   }
  }
  .box-text {
   padding-left:80px;
  }
 }
 .content-text {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
 }
 
}