/************************************
	Block contact
************************************/
.acf-map {
		width: 100%;
		height: 400px;
		border: #ccc solid 1px;
		margin:0;
	}
	/* fixes potential theme css conflict */
	.acf-map img {
		max-width: inherit !important;
	}