.btn {
	transition: all 0.3s linear;
	padding: 10px 25px !important;
	border-radius: 20px;
	border-width:1px;
	border-style: solid;
	outline-width: 0 !important;
}
.btn-readmore,
a.btn-readmore,
.btn-readmore:active,
a.btn-readmore:active {
	padding-left: 0;
	background-color: $color2;
	color:#fff !important;
outline: none !important;
	&:hover,
	&:focus {
		background-color: #fff;
		color:$evidence !important;
		border-color:$evidence;
		outline: none !important;
		text-decoration: none;
	}
}
.btn-readmore-link {
	padding: 8px 0 !important;
	outline: none !important;
	&:after {
		content: "\f178";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		padding-left: 5px;
	}
}
.btn-empty,a.btn-empty {
	background-color: transparent;
	color:#fff !important;
	border-color: $white;
	outline: none;
	&:hover,
	&:active,
	&:focus {
		background-color: #fff;
		color:$evidence !important;
		outline: none !important;
	}
}