/************************************
Call to action
************************************/
.call-to-action.block-flex {
	padding-top: 100px;
	padding-bottom: 100px;
	overflow: hidden;
}
.call-to-action {
	position: relative;
	text-align: center;
	//margin-top: 60px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
		@media(max-width:1024px) {
		background-attachment:inherit;
	}
	.box-text {
		position: relative;
		z-index: 999;
		color:#fff;
		.title-action {
			margin-top: 0;
		}
		.title-action,.subtitle-action {
			color:#fff;
		}
		.btn {
			margin-top: 20px;
			margin-left: 5;
			margin-right: 5;
		}
	}
	input {
	background: transparent none repeat scroll 0 0;
    border: 1px dashed #fff;
    color: #fff;
    display: block;
    float: none;
    font-size: 16px;
    font-weight: 400;
    height: 62px;
    line-height: 63px;
    margin: 10px auto 0;
    text-align: center;
    text-transform: uppercase;
    width: 40%;
	}
	.readmore-content {
		a.btn {
			margin-right: 20px;
		}
	}
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		opacity: 0.8;
		background-color: $color2;
		z-index: 1;
	}
}