/************************************
Slide
************************************/
.block-carousel {
	position: relative;
	.swiper-container {
		z-index: 2;
	}
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 1;
	}
}
.swiper-container.swiper-container-carousel {
	padding-bottom: 20px;
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 40px;
	.swiper-wrapper {
		padding-bottom: 40px;
		.swiper-slide {
			text-align: center;
			font-size: 18px;
			//background: #fff;
			//height: 200px;
			/* Center slide text vertically */
			display: block;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			align-items: center;
			img {
				display: inline-block;
				max-width: 100%;
				height: auto;
			}
			figure {
				position: relative;
				overflow: hidden;
				margin-bottom: 20px;
				a {
					display: block;
					max-width: 100%;
					text-align: center;
					&:after {
						position: absolute;
						left: 0;
						right:0;
						top:40%;
						text-align: center;
						content: "\f178";
						color:#fff;
						display: inline-block;
						font: normal normal normal 18px/1 FontAwesome;
						font-size: inherit;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						opacity: 0;
						@extend .transition;
						z-index: 1;
					}
					.overlay {
						position: absolute;
						bottom:0;
						top:0;
						left: 0;
						right:0;
						opacity: 0;
						background-color: #000;
						@extend .transition;
						z-index: 1;
					}
					img {
						max-width: 100%;
						@extend .transition;
					}
					&:hover {
						&:after {
							top:50%;
							opacity: 1;
						}
						img {
							transform: scale(1.1) rotate(0.2deg);
						}
						.overlay {
							opacity: 0.4;
						}
					}
				}
			}
		}
	}
	//pagination
	.swiper-pagination {
		bottom: 0;
		.swiper-pagination-bullet-active {
			background: $evidence;
			opacity: 1;
		}
	}
	//buttons
	.swiper-button-next,
	.swiper-button-prev {
		background-size: 25px 40px;
		position: absolute;
		height: 56px;
		width: 48px;
		//border: 1px solid #fff;
		padding: 25px;
		background-color: rgba(000,000,000,0.4);
		opacity: 0;
		transition: all 0.3s linear;
		top:50%;
		transform: translate(0, -50%);
	}
	.swiper-button-next {
		right:0;
	}
	.swiper-button-prev { 
		left:0;
	}
	//hover container
	&:hover {
		.swiper-button-next, 
		.swiper-button-prev {
			opacity: 0.7;
		}
		.swiper-button-disabled {
			opacity: 0.2;
			pointer-events: all;
		}
	}
	.swiper-pagination-bullet-active {
		background: $evidence none repeat scroll 0 0;
		opacity: 1;
	}
}

.arrow-carousel {
	position: relative;
	width:70px;
	float: right;
	.swiper-button-next {
		right:0;
	}
	.swiper-button-prev {
		left:0;
	}
	.swiper-button-next, .swiper-button-prev {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 10px 35px;
		cursor: pointer;
		height: 25px;
		margin-top: -22px;
		position: absolute;
		top: 50%;
		width: 25px;
		z-index: 10;
		background-color: $color1;
	}
}
