.comment-list {
	@include list-unstyled;
}
.comment-list ol {
	list-style: none;
}
.comment-form {
	margin-bottom: 40px;
}
.comment-form p {
	@extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
	@extend .form-control;
}
.comment-form input[type="submit"] {
	@extend .btn;
	@extend .btn-primary;
}

#comments {
	//margin-top: 20px;
	//padding: 40px;
	h3 {
		margin-top: 60px;
	}
	.comment-list {
		.comment-body {
			padding: 10px;
			background-color: #fff;
			margin-bottom: 10px;
		}
	}
	.children {
		.comment-body {
			background-color: transparent;
			padding: 10px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 10px;
			margin-top: 10px;
			&:last-child {
				border-bottom: 1px solid transparent;
			}
		}
	}

	h2 {
		margin-bottom: 40px;
		margin-top: 60px;
	}
	.comment-author.vcard  {		
		img {
			margin-right: 10px;
			border-radius: 50%;
			overflow: hidden;
		}
	}
	.comment-content {
	}
	.comment-metadata {
		font-style: italic;
		color:#999;

	}
	.reply,.comment-metadata,.comment-content {
		margin-left: 47px;
	}
	textarea {
		//background-color: transparent;
		border-radius: 4px;
	}
}
.bypostauthor {
	display: block;
}