/************************************
Form
************************************/
.search-form {
	@extend .form-inline;
}
.search-form label {
	font-weight: normal;
	@extend .form-group;
}
.search-form .search-field {
	@extend .form-control;
}
.search-form .search-submit {
	@extend .btn;
	@extend .btn-primary;
}

.form-fluid {
	width: 100% !important;
	input, textarea, select {
		width: 100% !important;
	}
}

input, textarea, select {
	border: 1px solid #eee;
	border-radius: 2px;
	display: block;
	font-size: 14px;
	font-weight: normal;
	line-height: initial;
	margin: 9px 0 0;
	padding: 10px 15px;
	background-color: #fff; 
}

/************************************
Style contact form
************************************/

.form-container-classic .form-name, 
.form-container-classic .form-subject, 
.form-container-classic .form-email {
	display: inline-block;
	width: 32%;
	margin-bottom: 15px;
	@media(max-width:$screen-md-min) {
		display: block;
		width:100%;
	}
}

::placeholder {
	color: #666 !important;
	text-transform: uppercase;
}

.form-container-classic .message-container {
	width: 99%;
}
.form-container-classic .form-name input, 
.form-container-classic .form-email input, 
.form-container-classic .form-subject input, 
.form-container-classic .form-message textarea {
	border: 1px solid #eee;
	border-radius: 5px;
	display: block;
	width: 97%;
	@media(max-width:$screen-md-min) {
		width:99%;
	}
}
.form-container-classic .form-message textarea {
	width: 100%;
}
.form-container-classic .form-name input, 
.form-container-classic .form-email input, 
.form-container-classic .form-subject input {
	padding: 0 5.5%;
	height:40px;
}
.form-container-classic .form-message textarea {
	margin-top: 1.2%;
	padding: 12px 2%;
}
.form-container-classic .form-submit {
	text-align: center;
}
.form-container-classic .form-submit input {
	border: medium none;
	border-radius: 5px;
	margin-top: 20px;
}
.form-container-classic {
	margin: auto;
	width: 92%;
}