/* gallery
-----------------------------*/
.gallery {
    margin-bottom: 1.5em;
}
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-caption {
    display: block;
}
.gallery-container {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: auto;
    margin: auto;
    position: relative;
    text-align: center;
    width: 80%;
    z-index: 99;
}
.gallery {
    margin: auto;
    max-width: 100%;
    min-height: 300px;
    min-width: 300px;
    position: relative;
}
.gallery img {
    cursor: pointer;
    display: inline;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 20px;
}