/************************************
Humburger menu
************************************/
.main-wrapper {
  transition: all 0.2s ease-in; 
  background-color: $bg-body;
  position: relative;
}
//Humburger menu
.humburger-menu {
  box-sizing: border-box;
  transition: all 0.2s linear; 
  opacity: 1;
  overflow-y: visible;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 70%;
  right: -70%;
  height: 100%;
  z-index: 999;
  background-color:$bgHumburgerMenu;
  font-family: $title-font-family;
  @media (min-width:$screen-sm-max+1) {
    display: none;
  }
  @media (max-width:359px) {
    width:100%;
    right: -100%;
  }
  ul.nav {
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    > li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      transition-delay: 1s;
      padding-bottom: 5px;
      padding-top: 5px;
      a {
        color: $text-humburger;
        background-color: transparent;
        transition: all 0.5s linear;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 500;
        @extend .transition;
      }
      a:hover,
      a:focus,
      a:active {
        color: $evidence;
        background-color: transparent;
      }
    }
    li.current-menu-item {
      > a {
        color: $text-humburger-active;
      }
    }
    li:hover {
      background-color: transparent;
    }
    li.menu-item-has-children {
      > a:after {
        content:' +';
        color: $text-humburger;
        font-size: 16px;
        line-height: 18px;
      }
    }
    //submenu
    ul.sub-menu {
      margin-top: 0;
      text-align: center;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 10px;
      li {
        list-style-type: none;
        margin-bottom: 5px;
        font-size: 14px;
        border-bottom-width: 0;
      }
    }
  }
  /*Wordpress menu con submenu*/
  li.menu-item-has-children {
    > a {
      position: relative;
      &:after {
        content: "\f3d0";
        font-family: "Ionicons"; src: url("../fonts/ionicons.eot?v=2.0.0"); src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal;
        position: absolute;
        right: -2px;
        top: 12px;
        font-size: 12px;
        color: #ccc;
      }
    }
    .sub-menu {
      display: none;
      //transition: max-height 0.8s;
      //max-height: 0;
      li {
        border-bottom-width: 0;
      }
    }
  }
  //control Humburger menu
  #header-controls-right {
    background-color:$bgHumburgerMenu;
    width:70px;
    height:70px;
    position: absolute;
    margin-left: -70px;
    @extend .transition;
    z-index: 999;
    @media (min-width:$screen-sm-max+1) {
      display: none;
    }
    .navigation-humburger-menu {
      position: relative;
      z-index: 999;
      display: inline-block;
      @extend .transition;
      padding: 5px 10px;
      top:13px;
      span {
        position: relative;
        display: block;
        width: 40px;
        height: 2px;
        background: $text-humburger;
        margin: 6px 0 0 0;
        padding: 0;
        transition: all 0.4s linear;
        transition-delay: 0.6s;
      }
      &:hover {
        cursor: pointer;
      }
    }
    #call-search {
      display:inline-block;
      @extend .transition;
    }
  }	
  //logo Humburger menu
  .brand {
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    padding-top: 20px;
    img {
      max-width: 100px;
    }
  }
  // social Humburger menu
  ul.social-icons {
    margin-top: 20px;
    li {
      margin:2px;
      a {
        color: $text-humburger;
        //border-color:#333;
      }
    }
  }
}
/* Navigation animations */
@keyframes humburger-rotate-r {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg)
  }
}
@keyframes humburger-rotate-l {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(6px,-6px);
  }
}
/************************************
Menu open
************************************/
body.open-humburger-menu {
  /* Navigation open menu */
  .humburger-menu { 
    right: 0;
    z-index: 4;
    overflow: auto;
  }
  #header-controls-right {
    padding-top: 4px;
    margin-left: 0;
    .navigation-humburger-menu {
      span {
        margin-right: 0 !important;
      }
      span.first {
        animation: humburger-rotate-r 0.4s ease-Out forwards 0.6s;
      }
      span.second {
        animation: humburger-rotate-l 0.4s ease-Out forwards 0.6s;
      }
      span.thirt {
        transform: translate(-60px, 0);
        opacity: 0;
      }
      z-index:999;
    }
    #call-search {
      opacity: 0;
    }
  }
  .main-wrapper {
    //transform: translateX(-70%);
    left:-70%;
    @media (max-width:359px) {
      //transform: translateX(-100%);
      left:-100%;
    }
    @media (min-width:$screen-sm-max+1) {
      left:0;
    }
    .scrolltotop {
      display: none !important;
    }
  }
}
/************************************
Menu fixed scroll
************************************/
.humburger-fixed {
  //control Humburger menu
  #header-controls-right {
    height:57px;
    @media (min-width:$screen-sm-max+1) {
      display: none;
    }
    .navigation-humburger-menu {
      top:8px;
    }
  }	
}
/************************************
Login
************************************/
@media (min-width:601px) {
  .logged-in .humburger-menu {
    top: 32px;
  }
}
/************************************
Menu animations
************************************/
@keyframes menu-up {
  from {
    margin-top: 10px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes menu-down {
  from {
    margin-top: 100px;
    opacity: 1;
  }
  to {
    margin-top: 110px;
    opacity: 0;
  }
}
@keyframes menuFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menuFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}