/************************************
Isotope
************************************/

/**********************
// filter
**********************/
.button-group.filter-button-group {
	text-align: center;
	margin-bottom: 60px;
}

/**********************
// layout
**********************/
.alm-listing.alm-ajax.alm-reveal {
    margin: 0 -1%;
    padding: 0;
}
.content-portfolio.block-flex {
	padding-bottom: 0;
	padding-top: 0;
	@media(max-width:$screen-xs-max) {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.container-fluid {
		padding: 0;
	}
}
//page portfolio
.container-isotope,
.container-isotope.container-block-portfolio,
#container-isotope-related {
	overflow: hidden;
	&:after {
		content: '';
		display: block;
		clear: both; 
	}
	.grid-item {
		//float: left;
		position: relative;
		box-sizing:border-box;
		text-align: left;
		background-color: #fff;
		/*
		@media(max-width:$screen-sm-max) {
		width:50%;
	}
		@media(max-width:$screen-xs-max) {
		width:99%;
	}*/
		.box-img {
			position: relative;
			.overlay {
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				bottom: 0;
				transition:all linear 0.4s;
				opacity: 0.9;
			}
		}
		.caption-description {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			transform: translate(0,-50%);
			//background-color: #fff;
			z-index: 1;
			padding: 20px;
			text-align: left;
			transition: all linear 0.4s;
			text-align: center;
			.italic {
				a {
					//color: #fff;
				}
			}
			.caption-title {
				font-weight: 300;
				opacity: 0;
				visibility: hidden;
				color: #fff;
				text-align: left;
				text-transform: uppercase;
				transition: all linear 0.4s;
			}
		}
		.caption-info {
			display: flex;
			flex-direction: row;
			//color:#fff;
			text-align: left;
			align-items: center;
			justify-content: center;
			visibility: hidden;
			opacity: 0;
			transition: all linear 0.4s;
			font-size: 13px;
			> div {
				padding-top: 5px;
				padding-bottom: 5px;
				i {
					font-size: 16px;
				}
			}
			.info-comments {
				padding-right: 10px;
			}
			.info-author {
				padding-left: 10px;
			}
		}
		//hover
		&:hover {
			.box-img .overlay {
				opacity: 0.8;
			}
			.caption-title {
				opacity: 1;
				visibility:visible;
			}
			.caption-info {
				visibility:visible;
				opacity: 1;
			}
			.caption-text {
				visibility:visible;
				opacity: 1;
			}
		}
	}
	/*style standard*/
	&.style_standard {
		.caption-description {
			display: flex;
			flex-direction: column;
		}
		.caption-info {
			display: none;
		}
		.caption-text {
			color:#fff;
			visibility: hidden;
			opacity: 0;
			transition: all linear 0.4s;
			display: none;
		}
		.italic {
			opacity: 0;
			transition: all linear 0.4s;
			visibility:hidden;
		}
		.caption-info {
			order: 1;
		}
		& .grid-item:hover {
			.italic {
				opacity: 1;
				visibility:visible;
			}
		}
	}
	//style pinterest
	&.style_pinterest {
		.grid-item {
			border-radius: 10px;
			overflow: hidden;
		}
		.caption-description {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: absolute;
			top:auto;
			bottom:0;
			top:0;
			left: 0;
			width: 100%;
			transform: translate(0,0);
			z-index: 1;
			padding: 20px;
			text-align: left;
			transition: all linear 0.4s;
			.caption-title {
				text-align: left;
				text-transform: none;
			}
		}
		.caption-info,
		.caption-text {
			color:#fff;
			visibility: hidden;
			opacity: 0;
			transition: all linear 0.4s;
			display: none;
			text-align: left;
		}
		.caption-text {
			order: 2;
		}
		.caption-info {
			order: 1;
		}
		.italic {
			opacity: 0;
			transition: all linear 0.4s;
			visibility:hidden;
			text-align: left;
			font-size: 10px;
			a {
				background-color: $link-color;
				color:#fff;
				border-radius:4px;
				padding: 3px 6px;
			}
		}
		.grid-item:hover {
			.italic {
				opacity: 1;
				visibility:visible;
			}
		}
	}

	//style polaroid
	&.style_polaroid {
		padding-top: 40px;
		overflow: visible;
		.grid-item {
			padding: 20px 20px 0 20px;
			box-shadow: 0 0 20px 0 rgba(0,0,0,0.12);
			margin-bottom: 15px;
			.box-img {
				.overlay {
					opacity: 0.9;
				}
			}
			.box-img a:hover{
				cursor:url(../images/hover-plus.png),auto;
			}
			.caption-description {
				display: flex;
				flex-direction: column;
				position: relative;
				top:auto;
				bottom:auto;
				left: auto;
				transform: translate(0,0);
				z-index: 1;
				padding: 20px 0 0 0;
				text-align: left;
				transition: all linear 0.4s;
			}
			.caption-text {
				color:$text-color;
				visibility:visible;
			}
			.caption-title {
				text-align: left;
				text-transform: none;
				color:$text-color;
				opacity: 1;
				visibility: visible;
				padding-top: 10px;
				opacity: 1;
				visibility:visible;
     font-weight: 500; 
			}
			.caption-info {
				opacity: 1;
				justify-content: space-around;
				color:$text-color;
				visibility:visible;
				border-top: 1px solid #eee;
				order: 3;
				padding-top: 5px;
				padding-bottom: 5px;
				margin-bottom: 10px;
				margin-top: 10px;
			}
			.caption-text {
				opacity: 1;
				visibility:visible;
				order: 2;
			}

			//hover
			&:hover .caption-title {
				opacity: 1;
				visibility: visible;
			}
			&:hover .box-img .overlay {
				opacity: 0.4;
			}
			&:hover .caption-description  {
				.italic {
					opacity: 1;
					visibility:visible;
				}
			}
		}
	}

	&.style_image_text .grid-item {
   text-align: left;
   border: 1px solid #eee;
		.box-img {
			.overlay {
				opacity: 0.2;
			}
    img {
    width: 100%;
    }
		}
		.box-img a:hover{
			cursor:url(../images/hover-plus.png),auto;
		}
		.caption-description {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			transform: translate(0,0);
			background-color: #fff;
			z-index: 1;
			padding:20px;
			text-align: left;
			transition: all linear 0.4s;
			text-align: left;
    border: 1px solid #ddd;
			.italic {
				color: $evidence;
				text-align: left;
				opacity: 1;
				visibility: visible;
				a {
					color:inherit;
				}
			}
			.caption-title {
				opacity: 1;
				color:$text-color;
				visibility:visible;
				transition: all linear 0.4s;
     text-align: left;
     font-weight: bold;
			}
			.caption-text {
				display: block;
			}
			.caption-info {
				border-top:1px solid #eee;
				padding-top: 10px;
				margin-top: 10px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				visibility: visible;
				opacity: 1;
			}
			.info-comments {
				padding-right: 5px;
				flex-direction: row;
			}
			.info-data {
				flex: 2;
				padding-left: 5px;
				padding-right: 5px;
				text-align: right;
			}
			.info-author {
				padding-left: 5px;
			}
		}

		//hover
		&:hover .caption-title {
			opacity: 1;
			visibility: visible;
		}
		&:hover .box-img .overlay {
			opacity: 0.4 !important;
		}
		&:hover .caption-description  {
			.italic {
				opacity: 1;
				visibility:visible;
			}
		}

	}
}
/*with gutters*/
.container-isotope.container-block-portfolio.masonry-gutters {
	.grid-item {
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 2%;
	}
	//column 2
	&.column-2 {
		.grid-item {
			width: 48%;
			@media(max-width:1199px) {
				width:48%;
			}
			@media(max-width:767px) {
				width:98%;
			}
		}
	}
	//column 3
	&.column-3 {
		.grid-item {
			width: 31.33%;
			@media(max-width:1199px) {
				width:48%;
			}
			@media(max-width:767px) {
				width:98%;
			}
		}
	}
	//column 4
	&.column-4 {
		.grid-item {
			width: 23%;
			@media(max-width:1199px) {
				width:48%;
			}
			@media(max-width:767px) {
				width:98%;
			}
		}
	}
	//column 5
	&.column-5 {
		.grid-item {
			width: 18%;
			@media(max-width:1199px) {
				width:48%;
			}
			@media(max-width:767px) {
				width:98%;
			}
		}
	}
}
/*without gutters*/
.container-isotope.container-block-portfolio.no-gutters {
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	//column 2
	&.column-2 {
		.grid-item {
			width: 50%;
			@media(max-width:1199px) {
				width:50%;
			}
			@media(max-width:767px) {
				width:99%;
			}
		}
	}
	//column 3
	&.column-3 {
		.grid-item {
			width: 33.33%;
			@media(max-width:1199px) {
				width:50%;
			}
			@media(max-width:767px) {
				width:99%;
			}
		}
	}
	//column 4
	&.column-4 {
		.grid-item {
			width: 25%;
			@media(max-width:1199px) {
				width:50%;
			}
			@media(max-width:767px) {
				width:99%;
			}
		}
	}
	//column 5
	&.column-5 {
		.grid-item {
			width: 20%;
			@media(max-width:1199px) {
				width:50%;
			}
			@media(max-width:767px) {
				width:99%;
			}
		}
	}

}

.alm-reveal:after{
	content: '';
	display: block;
	clear: both; 
}
/************************************
related portfolio
************************************/
#container-isotope-related {
	.grid-item {
		height: 100%;
		margin-bottom: 30px;
	}
}

/*button loadmore*/
.alm-load-more-btn {
	margin: 20px auto;
	float: none;
	display: block;
}
.hide-button {
	.alm-load-more-btn {
		display: none;
	}
}

/* Infinite Scroll */
.load-more-manual #page-nav {
	display:block !important; 
}
#page-nav {
	display:none; 
	text-align:center; 
}
.load-more-manual #page-nav a {
	margin:20px auto 10px auto;
	display:inline-block;
	width:auto;
}
.load-more-manual #page-nav a {
	font-weight: bold;
	display: inline-block;
	font-size: 15px;
	position: relative;
	transition-duration: 150ms;
	text-decoration: none;
}
#infscr-loading { 
	text-align: center;
	z-index: 100;
	position: fixed;
	left: 50%;
	bottom: 40px;
	width: 200px;
	margin-left:-100px;
	padding: 10px;
	background: #000; 
	opacity: 0.8;
	color: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
//button more
.container-isotope {
	button.btn-readmore.alm-load-more-btn.more {
		&:hover {
			color:#fff;
		}
		&.done {
			opacity: 0.4;
			&:hover {
				cursor:default; 
			}
		}
	}
}