/************************************
	Search
************************************/

#call-search {
    a {
        font-size: 24px;
				line-height: 1;
        display: inline-block;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-top: -6px;
				width:60px;
				text-align: center;
    }
}
.cd-search {
    height: 50px;
    left: 0;
    opacity: 0;
    position: absolute;
    bottom: -50px;
    @include transition(all, 0.2s, linear);
    //visibility: hidden;
    width: 100%;
    z-index: 3;
}
.cd-search form {
    height: 100%;
    width: 100%;
}
.cd-search input {
    -moz-appearance: none;
    background: rgba(255, 255, 255, 0.96) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 1px 0 #e2e3df inset, 0 3px 6px rgba(0, 0, 0, 0.05);
    height: 100%;
    padding: 0 5%;
    width: 100%;
		color:#fff;
}
/* do not group these rules */
*::-webkit-input-placeholder {
     color: #fff;
    text-transform: uppercase;
}
*:-moz-placeholder {
    /* FF 4-18 */
     color: #fff;
    text-transform: uppercase;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #fff;
    text-transform: uppercase;
}
*:-ms-input-placeholder {
    /* IE 10+ */
     color: #fff;
    text-transform: uppercase;
}

.cd-search input:focus {
    outline-style:none;
box-shadow:none;

}
.cd-search.is-visible {
    @include transition(all, 0.4, linear);
    opacity: 1;
    //visibility: visible;

}

/************************************
	Search form
************************************/

.search-container-inner {
    position: relative;
}
.search-container-inner input {
    padding-right: 36px;
		width:100%;
}

.search-container-inner i.fa {
    margin-top: -9px;
    position: absolute;
    right: 18px;
    top: 50%;
}
