/************************************
Slide
************************************/
#content-slide {
	height:100%;
	max-height: 100%;
	margin-top: 0;
}
.home #content-slide {
	height:100%;
	max-height: 100%;
	margin-top: 0;
}

#content-slide {
	background-color: #000;
	position: relative;
	.swiper-container-slide.swiper-container-slide {
		height: 100vh;
		width: 100%;
		overflow: hidden;
		.swiper-wrapper {
			height: 100%;
			.swiper-slide {
				opacity: 0 !important;
				height: 100%;
				font-size: 18px;
				//background: #fff;
				/* Center slide text vertically */
				display: flex;
				justify-content: center;
				align-items: center;
				//img
				img {
					position: absolute;
					left: 50%;
					top: 50%;
					max-width: 100%;
					transform: translate(-50%, -50%);
				}
				.overlay {
					position: absolute;
					width:100%;
					left:0;
					top:0;
					bottom:0;
					z-index: 1;
				}
				//caption text
				.caption-tex {
					position: absolute;
					left: 50%;
					top: 50%;
					width:1170px;
					padding: 20px;
					box-sizing: padding-box;
					padding-left: 15px;
					padding-right: 15px;
					max-width: 100%;
					transform: translate(-50%, -50%);
					box-sizing: border-box;
					z-index: 2;
					.icon-slide {
						position: absolute;
						width: 120px;
						height: 120px;
						left: 50%;
						margin-left: -60px;
						top: -100px;
						border: 2px solid transparent;
						border-radius: 50%;
						transition:background 0.3s linear;
						.icon {
							font-size: 90px;
							line-height: 120px;
							color: #fff;
							display: inline-block;
							transition: all 1s linear;
						}
					}
					.small-title-slide {
						color:$small-title-slide;
						font-weight: 400;
						font-size: 20px;
						text-transform: uppercase;
						font-family: $italic-font-family;
					}
					.italic-slide,
					.breadcrumbs {
						color: $title-slide;
						font-size: 25px;
					}
					.title-slide {
						color: $title-slide;
						font-weight: 700;
						font-size: 40px;
						text-transform: uppercase;
						padding: 10px 0;
						line-height: 1.2;
						span {
							color:$color2;
						}
						@media(max-width:$screen-xs-max) { 
							font-size: 25px;
						}
					}
					$minus:12;
					.small-single-title {
						color: $title-slide;
						font-weight: 700;
						font-size: $h1-font-size;
						text-transform: uppercase;
						padding: 10px 0;
						line-height: 1.2;
						span {
							color:$color2;
						}
						@media(max-width:$screen-xs-max) { 
							font-size: ($h1-font-size - $minus);
						}
					}
					.text-slide {
						color:$text-slide;
						margin-top: 20px;
						@media(min-width:$screen-md-min) {
							font-size: 25px;
						}
					}
					.readmore-slide {
						.btn {
							display: inline-block;
							margin-top: 30px;
							margin-right: 10px;
							/*color: $readmore-slide;
							border: 1px solid $readmore-slide-border;
							background-color: $readmore-slide-bg;
							margin-top: 30px;
							&:hover {
							background-color: $evidence;
						}*/
						}
					}
				}
				&.slide-parallax {
					background-size: cover;
					background-position: center center;
					//background-attachment: fixed;
					background-repeat: no-repeat;

				}
			}


			//slide active
			.swiper-slide-active {
				opacity: 1 !important;
				.caption-tex {
					.icon-slide {
						.icon {
							animation: zoomIcon 0.8s ease-out forwards 2.3s;
						}
						&:before {
							animation: rotateBorderT 0.3s linear forwards 1.5s;
						}
						&:after {
							animation: rotateBorderB 0.3s linear forwards 1.8s; 

						}
					} 


				} 
			}
		}
		.swiper-button-next, .swiper-button-prev {
			background-size: 25px 40px;
			position: absolute;
			height: 56px;
			width: 48px;
			//border: 1px solid #fff;
			opacity: 0;
			padding: 25px;
			background-color: rgba(000,000,000,0.4);
			transition: all 0.3s linear;
		}
		.swiper-button-prev {
			left: 0;
		}
		.swiper-button-next {
			right:0;
		}
		.swiper-pagination-bullet-active {
			background: #ccc 0 0;
			opacity: 1;
		}
		&:hover {
			.swiper-button-next, 
			.swiper-button-prev {
				opacity: 0.7;
			}
			.swiper-button-disabled {
				opacity: 0.2;
			}
		}
	}
	.container {
		.swiper-container-slide.swiper-container-slide .swiper-wrapper .swiper-slide {
			.caption-tex {
				padding-left: 30px;
				padding-right: 30px;
				max-width: 100%;
			}
		}
	}
}
/*
Link anchor on slide
*/
.anchor-content {
	position: absolute;
	left: 50%;
	bottom:40px;
	width:60px;	
	margin-left: -30px;
	text-align: center;
	z-index: 3;
}

