/************************************
	Timeline
************************************/

#container-timeline {
  max-width: 600px;
  margin: auto;
  margin-bottom: 60px;
  padding-bottom: 60px;
  .row-timeline:after {
    content: '';
    display: block;
    clear: both;
  }
  .row-timeline {
    position: relative;
    .col-timeline {
      float: left;
      width: 50%;
      padding: 30px 0;
      h3 {
        color: $color1;
      }
      .subtitle {
        color: $color1;
      }
      h5 {
        margin: 0;
      }
    }
    //set border timeline
    .set-timeline {
      position: absolute;
      width: 2px;
      left: 50%;
      margin-left: -1px;
      bottom: 0;
      top: 0;
      background-color: $color1;
      transition: all 1s linear;
      &:before {
        position: absolute;
        content: '';
        display: block;
        height: 60px;
        width: 60px;
        top: 0;
        left: 50%;
        margin-left: -30px;
        border: 19px solid $bg-body;
        border-radius: 50%;
        background-color: $color1;
        box-sizing: border-box;
      }
      &:after {
        position: absolute;
        transition: all 0.2s linear;
        content: '';
        display: block;
        height: 30px;
        width: 30px;
        top: 15px;
        left: 50%;
        margin-left: -15px;
        border: 2px solid $color1;
        border-radius: 50%;
        background-color: $bg-body;
        box-sizing: border-box;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
    //con js aggiungo la classe active per evidenziare allo scroll
    .set-timeline.active {
			&:before { 
				//background-color: transparent;
				
			}
      &:after {
				border-width: 0;
				animation: shadow 0.4s linear forwards 0.2s;
      }
    }		
		@keyframes shadow {
			from {
				box-shadow: 0 0 6px 0 $color1;
				opacity: 1;
			}
			
			to {
				box-shadow: 0 0 0 0 transparent;
				opacity: 0;
			}
		}
		
    //col pari
    &.even {
      .box-text {
        text-align: left;
        padding-left: 80px;
      }
      .box-img {
        text-align: right;
        padding-right: 80px;
      }
    }
    //col dispari
    &.odd {
      .box-text {
        text-align: right;
        padding-right: 80px;
      }
      .box-img {
        text-align: left;
        padding-left: 80px;
      }
    }
  }
  .row-timeline:first-child {
    .set-timeline:after {
      opacity: 0;
    }
  }
  .row-timeline:last-child {
		.circle-last {
				position: absolute;
        content: '';
        display: block;
        height: 60px;
        width: 60px;
        top: 100%;
        left: 50%;
        margin-left: -30px;
        border: 19px solid $bg-body;
        border-radius: 50%;
        background-color: $color1;
        box-sizing: border-box;
		}
  }
}
