/************************************
Top Menu
************************************/
.content-top-menu {
	background-color: transparent; 
}
.content-top-menu {
	position: fixed;
	width: 100%;
	z-index: 3;
	@extend .transition;
	top:0;
	//border-bottom: 1px solid rgba(255,255,255,0.1);
	//height: 70px;
	.logo {
		margin-left: 20px;
		align-items: center;
		display: flex;
		float: left;
		font-size: $logo-font-size;
		height: 100%;
		color: $color2;
		font-weight: 300;
		padding: 0 20px 0 0;
		@extend .transition;
		@media(max-width:$screen-xs-small-max) {
			margin-left: 0;
		}

		//border-right: 1px solid #666;
		i.icon {
			font-weight: 500;
			color: $color2;
		} 
		.logo-top {
			height: auto;
			@extend .transition;
		}
		img {
			max-height: 70px;
			@extend .transition;
			@media(max-width:$screen-xs-small-max) {
				max-width: 200px;
				height: auto;
			}
		}
		&.logo-title {
			display: block;
		}
	}
	//button right
	.list-button-menu {
		margin: 0;
		padding: 0;
		float: right;
		@media (max-width:$screen-sm-max) {
			display: none;
		}
		li {
			list-style-type: none;
			float: right;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 14px;
			margin-bottom: 0;
			position: relative;
			a {
				display: block;
				padding:10px 20px 10px 20px;
				margin-top: 9px;
				margin-bottom: 9px;
				position: relative;
				@extend .transition;
			}
			a.button_custom {
				color: #fff;
				background-color: $evidence;
			}
			a.button_search {
				background-color: transparent;
				color:$text-menu;
				margin-right: 25px;
			}
			a:hover,
			a:focus,
			a:active {
				color: $text-menu-active;
			}
			a.button_custom:hover,
			a.button_custom:focus,
			a.button_custom:active {
				background-color: #fff;
			}
		}
	}
	.top-menu {
		//margin-right: 170px;
		//padding: 12px 20px 12px 0;
		@extend .transition;
		float: right;
		//border-right: 1px solid #666;
		@media (max-width:$screen-sm-max) {
			display: none;
		}
		ul {
			float: right;
			@extend .transition;
			margin-bottom: 0;
			li {
				list-style-type: none;
				display: inline-block;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 14px;
				margin-bottom: 0;
				position: relative;
     font-family: $title-font-family;
				> a {
					color: $text-menu;
					display: block;
						padding:10px 25px 10px 25px;
				margin-top: 9px;
				margin-bottom: 9px;
					position: relative;
					@extend .transition;
				}
				a:hover,
				a:focus,
				a:active {
					color: $text-menu-active;
					&:after {
						opacity: 1;
					}
				}
				//li active
				&.active,
				&.current-menu-item {
					> a {
						color: $text-menu-active;
						position: relative;
						&:after {
							opacity: 1;
						}
					}
					a:hover,
					a:focus,
					a:active {
						color: $text-menu-active;
						&:after {
							opacity: 1;
						}
					}
				}
				/*****submenu****/
				ul.sub-menu {
					background-color: #fff;
					box-shadow:0 0 5px rgba(0, 0, 0, 0.4);
					transition: padding 0.14s ease-out;
					text-align: left;
					display: block;
					left: 0;
					top: -9999px;
					position: absolute;
					display:none;
					opacity:0;
					padding:0;
					z-index: 999;
					min-width:100px;
					border-radius: 1px;
					li {
						display: block;
						position:relative;
						transition: all 0.3s ease 0s;
						margin: 0;
						padding: 0;font-size: 12px;
						a {
							padding: 9px 18px!important;
							white-space: nowrap;
							display:block;
							color: $text-menu;
							border-bottom: 2px solid transparent;
							border-top: 2px solid transparent;
							transition: all 0.2s linear;
							&:hover {
								background-color:$text-menu-active;
								color:#fff;
							}
						}
						&.current-menu-item {
							a {
								color:#fff;
								background-color:$text-menu-active;
								&:hover {
									color:#fff;
									background-color:$text-menu-active;
								}
							}
						}
					}
				}
				&.menu-item-has-children {
					> a:after {
						content:' +';
					}
				}
				&.menu-item-has-children:hover ul.sub-menu {
					display: block;
					top: 100%;
					animation-name: fadeInUpMenu;
					animation-duration: .4s;
					animation-fill-mode: both;
				}
			}
		}
	}
	/************************************
	Top Menu fixed
	************************************/
	&.fixed {
		position: fixed;
		top: 0;
		background-color: rgba(255, 255, 255, 1);
		border-bottom: 1px solid #eee;
	}
}
/************************************
no header image
************************************/
.no-header-image .content-top-menu {
	background-color: #fff;
}
//search top 
.content-top-search-form {
	position: absolute;
	top: 100%;
	right:0;
	z-index: -999;
	opacity: 0;
	@extend .transition;
	visibility: hidden;
	input {
		float: right;
		margin-top: 0;
	}
	//search open
	&.search-open {
		opacity: 1;
		z-index: 1;
		visibility: visible;
	}
}
.content-top-menu:after {
	content: ' ';
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
}

@keyframes fadeInUpMenu {
	from {
		opacity: 0;
		transform: translate3d(0, 5%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@media (min-width:601px) {
	.logged-in .content-top-menu,
	.logged-in .content-top-menu.fixed {
		top: 32px;
	}
}