
/************************************
Class generic
************************************/

/*Background class*/

.background-image {
	background-position: center CENTER;
	background-size: cover;
	background-repeat: no-repeat;
}
.background-image.animate-bg-in-right {
	background-position: -1920px 0;
}
.background-image.animate-bg-in-left {
	background-position: 1920px 0;
}
.bg-img1 {
	background-image: url(../images/background/ipad-mini_made-by-mds.png);
}
.bg-img2 {
	background-image: url(../images/background/corvus-isometric-perspective-mockup1.png);
}
.bg-img3 {
	background-image: url(../images/background/download.jpg);
}
.bg-img4 {
	//	background-image: url(../images/bg-img4.jpg);
}
.bg-color1 {background-color: $bg-color1;}
//.bg-color2 {background-color: $redColor;}
.bg-white {background-color: $bg-white;}



.row-no-padding {
	[class*="col-"] {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
.row-no-margin {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

@media(max-width:$screen-xs-max) {
	.bg-gray-mobile {
		background-color: #eee;
	}
}

/*class for animate on scroll*/

.hidden-scroll {
	opacity: 0;
}
.visible-scroll {
	opacity: 1;
}


/*display table*/
.d_table{
	display:table;
	table-layout: fixed;
	width:100%;
	max-width:100%;
	height: 100%;
}
.table_row {
	height: 100%;
	width:100%;
	display: table-row;
}
.table_cell{
	display:table-cell;
	vertical-align: middle;
	height: 100%;
	width:100%;
	float:none;
}
/*breadcrumb*/
.breadcrumb-page {
	color:#999;		
	a {
		color:#999;
		padding-right: 4px;
		margin-right: 6px;
		&:after {
			content: "\f105";
			padding-left: 8px;
			color:#999;	
			color:#999;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			&:last-child:after {
				content: "";
			}
		}
	}
}

/*parallax*/
.parallax {
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	/*position: relative;*/
	width: 100%; 
}
.parallax-overlay {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	//background-color: $color1;
	opacity: 0.4;
	z-index: 0;
	margin-top: 0; 
}
.container-parallax {
	position: relative;
	z-index: 1;
}

.no_parallax {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: inherit;
}
/*iframe video*/
.container-video-bg {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	z-index: 0;
	iframe {
		position: absolute;
		top: 50%; 
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: transparent;

	}
}

/*block text*/
.block-text {padding:0 30px;}
.padding-text {padding:20px 30px;}
/*padding top*/
.pt-0 {padding-top:0 !important;}
.pt-10 {padding-top:10px;}
.pt-20 {padding-top:20px;}
.pt-30 {padding-top:30px;}
.pt-40 {padding-top:40px;}
.pt-50 {padding-top:50px;}
.pt-60 {padding-top:60px;}
.pt-100 {padding-top:100px;}
.pt-150 {padding-top:150px;}
/*padding right*/
.pr-0   {padding-right:0 !important;}
.pr-10 {padding-right:10px;}
.pr-20 {padding-right:20px;}
.pr-30 {padding-right:30px;}
.pr-40 {padding-right:40px;}
.pr-50 {padding-right:50px;}
.pr-60 {padding-right:60px;}
/*padding bottom*/
.pb-0 {padding-bottom:0 !important;}
.pb-10 {padding-bottom:10px;}
.pb-20 {padding-bottom:20px;}
.pb-30 {padding-bottom:30px;}
.pb-40 {padding-bottom:40px;}
.pb-50 {padding-bottom:50px;}
.pb-60 {padding-bottom:60px;}
.pb-100 {padding-bottom:100px;}
.pb-150 {padding-bottom:150px;}
/*padding left*/
.pl-0   {padding-left:0 !important;}
.pl-10 {padding-left:10px;}
.pl-20 {padding-left:20px;}
.pl-30 {padding-left:30px;}
.pl-40 {padding-left:40px;}
.pl-50 {padding-left:50px;}
.pl-60 {padding-left:60px;}
.p0 {padding:0!important;}

/*margin top*/
.mt-0 {margin-top:0 !important;}
.mt-10 {margin-top:10px;}
.mt-20 {margin-top:20px;}
.mt-30 {margin-top:30px;}
.mt-40 {margin-top:40px;}
.mt-50 {margin-top:50px;}
.mt-60 {margin-top:60px;}
/*margin right*/
.mr-0   {margin-right:0 !important;}
.mr-10 {margin-right:10px;}
.mr-20 {margin-right:20px;}
.mr-30 {margin-right:30px;}
.mr-40 {margin-right:40px;}
.mr-50 {margin-right:50px;}
.mr-60 {margin-right:60px;}
/*margin bottom*/
.mb-0 {margin-bottom:0 !important;}
.mb-10 {margin-bottom:10px;}
.mb-20 {margin-bottom:20px;}
.mb-30 {margin-bottom:30px;}
.mb-40 {margin-bottom:40px;}
.mb-50 {margin-bottom:50px;}
.mb-60 {margin-bottom:60px;}
/*margin left*/
.ml-0   {margin-left:0 !important;}
.ml-10 {margin-left:10px;}
.ml-20 {margin-left:20px;}
.ml-30 {margin-left:30px;}
.ml-40 {margin-left:40px;}
.ml-50 {margin-left:50px;}
.ml-60 {margin-left:60px;}
.m0 {margin:0!important;}
/*center element*/
.centered {
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.border-t {border-top: 1px solid #eee;}
.border-b {border-bottom: 1px solid #eee;}
.border-l {border-left: 1px solid #eee;}
.border-r {border-right: 1px solid #eee;}

/*transition*/
.transition {
	transition: all 0.5s 0.1s;
	-webkit-transition: all 0.5s 0.1s;
	-moz-transition: all 0.5s 0.1s;
}
/*opacity*/
.opacity-0{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
.opacity-2{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	opacity: 0.2;
}
.opacity-5{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.opacity-7{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.opacity-8{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.opacity-9{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
}
.opacity-10{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

//on scroll
.onScroll {
	@extend .opacity-0;
}
.showScroll {
	@extend .transition;
	@extend .opacity-9;
}
.white {
	color:$white;
}
i.icon-master {
	font-size:45px;
}
.span-master {
	font-size:24px;

}
.clear {clear:both;}

/*align text*/
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}

/*img style*/
.w_full {
	width:100%;
}

@media (max-width: $screen-xs-max) {
	/*display table*/
	.table-box .table_row {
		display: block;
		margin: 0; }
	.table-box .table_cell {
		position: relative;
		height: auto; }

	.table_cell {
		display: block;
		height: auto;
		padding-top: 20px;
		padding-bottom: 20px; }
}