
/************************************
Global and typography
************************************/
body {
	color: $text-color;
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	background-color: $bg-body;
	height: 100%;
	max-height: 100%;
	overflow-x: hidden;
}
img {
	max-width: 100%;
	height:auto;
}
.main {
	margin-bottom: 40px;
  background-color: #fff;
}
#contain {
	//border: 1px solid #ddd;
	margin-top: 10px;
	border-radius: 4px;
	//background-color: #fff;
	padding-bottom: 10px;
}
a {
	color: $link-color;
	@include transition(color, 0.2s, linear);
}
a:focus,
a:hover {
	color: $link-hover-color;
	text-decoration: none;
	outline: none;
}
h1,h2,h3,h4,h5,h6 {
	font-family: $title-font-family;
	line-height: 1.3;
	span {
		font-weight: 700;
	}
}
h1,
h2,
h3 {
	color: $heading-color;
}
$minus:8;
h1 {
	font-size: $h1-font-size;
	font-weight: 800;
	color:#777; 
	@media (max-width: $screen-sm-min) {
		font-size: ($h1-font-size - 20);
	} 
}
h2 {
	font-size: $h2-font-size;
	font-weight: 800;
	@media (max-width: $screen-sm-min) {
		font-size: ($h2-font-size - $minus);
	}
}
h3 {
	font-size: $h3-font-size;
	font-weight: 800;
	@media (max-width: $screen-sm-min) {
		//font-size: ($h3-font-size - $minus);
	}
}
h4 {
	font-size: $h4-font-size;
	color:$heading-color2;
	font-weight: 500;
}
h5 {
	font-size: $h5-font-size;
}
h6 {
	font-size: $h6-font-size;
}
.italic {
	font-style: italic;
}
blockquote {
	font-size: 24px;
	position: relative;
	text-align: left !important;
	border-left-width: 0;
	& > p:first-of-type::before {
		content: open-quote;
		line-height: 0;
		margin-right: 0.2em;
		vertical-align: -0.25em;
	}
	& > p:first-of-type::after {
		content: close-quote;
		line-height: 0;
		margin-left: 0.1em;
		vertical-align: -0.25em;
	}
}
.big-title {
	font-size: $big-title-font-size;
}
/*style hr*/
hr {
	margin-top: 40px;
	margin-bottom: 40px;
	border: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
}
/*block-flex generic*/
.block-flex {
	padding: 40px 0;
	@media(max-width:$screen-xs-max) {
		padding:20px 0;
	}
}
/************************************
ul style*/
ul.list-check {
	padding-left: 0;
	li {
		list-style-type: none;
		position: relative;
		&:before {
			content: "\f00c";
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			padding-right: 8px;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}
.list-text-icons {
	padding-left: 0;
	li {
		list-style-type: none;
		margin-bottom: 20px;
		line-height: 70px;
		font-size: 20px;
		.box-icon {
			border:1px solid $color2;
			background-color: transparent;
			border-radius: 50%;
			height: 70px;
			width:70px;
			line-height: 70px;
			margin-right: 20px;
			float: left;
			text-align: center;
			i.icon {
				font-size: 28px;
				color:$color2;
			}
		}
		&:after {
			content:'';
			height:1px;
			display: block;
			clear: both;
		}
		&:after {
			content:'';
			height:1px;
			display: block;
			clear: both;
		}
	}
}
ul.social-icons {
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		list-style-type: none;
		margin:12px 3px;
		text-align: center;
		a {
			background-color: transparent;
			//background-color: #fff;
			//border: 1px solid #fff;
			border-radius: 50%;
			height: 40px;
			line-height: 38px;
			position: relative;
			text-align: center;
			width: 40px;
			@extend .transition;
			color: $color1;
			display: block;
		}
		a:hover {
			color: $color2;
		}
	}
}
/************************************
icons style*/
.icons-custom-shortcode {
line-height: 1;
}
.icons-custom-shortcode.small {
font-size: 16px;
}
.icons-custom-shortcode.medium {
font-size: 25px;
}
.icons-custom-shortcode.large {
font-size: 45px;
}
.icons-custom-shortcode.large_xl {
font-size: 100px;
}