// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;


// Colors
$brand-primary:         #53B3C2;

///************************************
//	Variablese and Mixin
//************************************/

//colori
$white:#fff;
$evidence: #d33;
//set color 
$color1:#53B3C2 ;
$color2:#d33;
$color3:#5C425D;
$color4:#3a3d42;

//color text
$text-color: #333;
$text-footer: #fff;

//top header
$top-header-bg:#333;
$top-header-color:$text-color;
$top-header-bg-active:$evidence;
$logo-font-size:25px;
$logo-font-size-fixed:20px;

//color menu
$text-menu : #fff;
$text-menu-active:$color2;
$bgMenuActive:transparent;
$bgMenu: rgba(109,117,168,0.8);
//Humburgermenu
$text-humburger: rgba(255, 255, 255, 0.5);
$text-humburger-active:$evidence;
$bgHumburgerActive:transparent;
$bgHumburgerMenu: #252525;

//color title
$heading-color: #141414;
$heading-color2: #BDC0C5 ;
$heading-color-span:$evidence;
$sub-heading-color: $evidence ;
//*********************
//Slide
//*********************
$small-title-slide :$color1;
$title-slide :#fff;
$text-slide:#fff;
$readmore-slide:#fff;
$readmore-slide-bg:transparent;
$readmore-slide-border:#fff;
//footer
$bg-footer : #141618;
$text-footer : #fff;

//color link
$link-color: $evidence;
$link-hover-color: #666;
$link-visited-color: $link-color;

//font text
$base-font-family:'Open Sans', sans-serif;
$title-font-family: 'Oswald', sans-serif;
$italic-font-family: 'Playfair Display', serif;
$base-font-size: 17px;
$small-font-size: 12px;
$base-font-weight: 400;
$base-line-height: 1.7;
$font-weight: 700;
$font-light: 300;

$h1-font-size: 34px;
$h2-font-size: 28px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 16px;
$h6-font-size: 14px;
$big-title-font-size: 48px;



//**********************************
//colori e background bottoni custom
//**********************************
$buttonBg1:$color1;
$buttonBg2:$color2;
$buttonBg3:transparent;
$buttonBg4:transparent;
$buttonBg5:$color4;
//colore testo bottoni
$buttonColor1: $white;
$buttonColor2:$white;
$buttonColor3:$link-color;
$buttonColor4:$white;
$buttonColor5:$white;

//background
//$bg-body:#F3F3F3 ;
$bg-body:#F5F5F5 ;
$bg-gray:#F7F7F7;
$bg-black:#222222;
$bg-white:#fff;
$bg-color1: #6e5d4d ;

//breakpoint
// Defining values
$screen-xs-small-max :598px;
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 1024px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
 

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

// WebKit-style focus

@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
 

// WebKit-style focus

@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

//**********************************
//Mixin
//**********************************
@mixin transition($transition-property,$transition-time,$method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin border-radius($val1,$val2,$val3,$val4) {
  -webkit-border-radius: $val1,$val2,$val3,$val4;
  -moz-border-radius: $val1,$val2,$val3,$val4;
  border-radius: $val1,$val2,$val3,$val4;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}