/************************************
Footer
************************************/

#footer {
	color:$text-footer;
	background-color: $bg-footer;
	/*Footer top*/
	.footer-top {
		padding-top: 70px;
		padding-bottom: 70px;
		h3 {
			color: #fff;
		}
		span {
			display: inline-block;
			font-weight: 700;
		}
	}
	/*tags*/
	.tagcloud {
		margin-top: 20px;
		a {
			border: 1px solid #fff;
			display: inline-block;
			border-radius: 3px;
			color: #fff;
			font-weight: 400;
			text-transform: capitalize;
			margin-bottom: 6px;
			margin-right: 6px;
			padding: 3px 10px;
			transition: all 0.22s ease 0s;
			font-size: $base-font-size !important;
			&:hover {
				background-color: transparent;
				color: #fff;
				text-decoration: none;
			}
		}
	}
	/*Footer middle*/
	.footer-middle {
		padding: 50px 0;
		font-weight: 300;
		font-size: 14px;
		h5 {
			color: $evidence;
			margin-bottom: 20px;
			font-size: 15px;
		}
	}

	/*Footer bottom*/
	.footer-bottom {
		background-color: #141618;
		text-align: center;
		//border-top:1px solid #ddd;
		padding: 14px 0; 
		color: inherit;
		font-size: 14px;



	} 
	/*Scroll top*/
	.scrolltotop {
		background: url("../images/arrow-up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		bottom: 30px;
		display: none;
		height: 60px;
		opacity: 0.5;
		position: fixed;
		right: 15px;
		text-indent: -1000px;
		width: 60px;
		z-index: 999;
	}
	/*Widget*/
	.widgettitle {
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	/*Menu footer*/
	.widget_nav_menu,
	.widget_meta {
		//float: left;
		margin-right: 30px;
		ul {
			padding-left: 0;
			li {
				list-style-type: none;
				position: relative;
				a {
					color:$text-footer;
				}
				&:before {
					content: "\f00c";
					display: inline-block;
					font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					padding-right: 8px;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
		}
	}
	/* widget recent_entries */
	.widget_recent_entries {
		ul {
			padding-left: 0;
			li {
				list-style-type: none;
				a {
					color:$text-footer;
				}
				.post-date {
					display: block;
					margin-bottom: 8px;
				}
			}
		}
	}
	/*social*/
	ul.social-icons li a {
		background-color: transparent;
		border-width:0;
		border-radius: 0;
		color: $text-footer;
		display: block;
		height: 40px;
		line-height: 38px;
		position: relative;
		text-align: center;
		width: 40px;
	}
	ul.social-icons li a:hover {
		background-color: transparent;
		border-width:0;
		color: #fff;
	}
}


