/*********************
Header
*********************/

.top-banner {
  min-height:90px;
  background-color: #ddd;
}
.site-title {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 7px;
  line-height: 1.4;
}
.site-description {
  font-size: 12px;
}

.no-header-image {
  .breadcrumbs {
    padding-top: 80px;
    margin-bottom: 20px;
  }
  .main-wrapper {
    margin-top: 0;
  }
}