/************************
Pages
************************/

/****************
Home
****************/

/*icons*/

.content-icon {
	text-align: center;
	.box-icon {
		background-color: #fff;
		padding: 10px 20px;
		margin-bottom: 20px;
		i.icon {
			font-size: 50px;
			color: $color1;
			line-height: 1;
		}
	}
}
.content-right {}
/*brand-img*/
.brand-img {
	margin-top: 60px;
	.box-brand {
		.box-img {
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				opacity: 0.9;
			}
		}
		.box-text {
			position: absolute;
			left: 50%;
			top: 50%;
			max-width: 100%;
			transform: translate(-50%, -50%);
			text-align: center;
			color: #fff;
			h4, h3 {
				color: #fff;
			}
			p {
				transform: translate(0,20px);
				transition: all 0.4s ease-out;
				opacity: 0;
			}
		}
		&.color1 {
			.box-img {
				&:after {
					background-color: lighten($color1,20%);
				}
			}
		}
		&.color2 {
			.box-img {
				&:after {
					background-color:$color2
				}
			}
		}
		&.color3 {
			.box-img {
				&:after {
					background-color:lighten($color1,10%);
				}
			}
		}

		//hover
		&:hover {
			p {
				transform: translate(0,0);
				opacity: 1;
			}
		}
	}
}
/*infinite scroll*/
.infinite-scroll {
	.navigation.pagination {
		display: none;
	}
}

/*template default*/
.page-template-default.page {
  #container {
  padding: 40px;
  }
}