/************************
Posts
************************/
.main,
#related-post,
.block-pages,
.block-news,
.single {
  .page,
  .post,
  .portfolio,
  .attachment,
  .team_member,
  .recensioni,
  .biografie,
  interviste{
    .content-post {
      //background-color: #fff;
      padding: 20px 20px 0 20px;
      margin-bottom: 20px;
      //border:1px solid #eee;
      //box-shadow:0 0 8px 0 rgba(0,0,0,.12);
      .box-text {
        padding: 0 10px  10px;

        .entry-title {
          text-transform: uppercase;
          margin-bottom: 0;
        }
        /*meta*/
        .meta-news {
          border-bottom: 1px solid #eee;
          //border-top: 1px solid #eee;
          margin-bottom: 20px;
          margin-top: 0;
          padding-bottom: 10px;
          padding-top: 10px;
          i.fa {
            font-size: 8px;
            margin-left: 5px;
            margin-right: 5px;
          }
          span {
            color:#bcbcbc;
          }
          //color: #bebebe;
          a {
            text-decoration: underline;
            //color: #bebebe;
          }
        }
      }
      img.alignleft {
        margin: 0 10px 10px 0 !important;
      }
    }
    figure {
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;
      a {
        display: block;
        max-width: 100%;
        text-align: center;
        &:after {
          position: absolute;
          left: 0;
          right:0;
          top:40%;
          text-align: center;
          content: "\f178";
          color:#fff;
          display: inline-block;
          font: normal normal normal 18px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          opacity: 0;
          @extend .transition;
          z-index: 1;
        }
        .overlay {
          position: absolute;
          bottom:0;
          top:0;
          left: 0;
          right:0;
          opacity: 0;
          background-color: #000;
          @extend .transition;
          z-index: 1;
        }
        img {
          max-width: 100%;
          @extend .transition;
        }
        &:hover {
          &:after {
            top:50%;
            opacity: 1;
          }
          img {
            transform: scale(1.1) rotate(0.2deg);
          }
          .overlay {
            opacity: 0.4;
          }
        }
      }
    }
    /*tags*/
    .entry-tags {
      //margin-top: 20px;
      //margin-left: 40px;
      a {
        border: 1px solid #343434;
        border-radius: 3px;
        color: #343434;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 6px;
        margin-right: 6px;
        padding: 3px 10px;
        transition: all 0.22s ease 0s;
        &:hover {
          background-color: #242424;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
//gallery
.swiper-container.gallery-carousel {
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    a.lightbox-image {
      display: block;
      max-width: 100%;
      text-align: center;
      &:after {
        position: absolute;
        left: 0;
        right:0;
        top:40%;
        text-align: center;
        content: "\f002" !important;
        color:#fff;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        opacity: 0;
        @extend .transition;
        z-index: 1;
      }
      .overlay {
        position: absolute;
        bottom:0;
        top:0;
        left: 0;
        right:0;
        opacity: 0;
        background-color: #000;
        @extend .transition;
        z-index: 1;
      }
      img {
        max-width: 100%;
        @extend .transition;
      }
      &:hover {
        &:after {
          top:50%;
          opacity: 1;
        }
        img {
          transform: scale(1.1) rotate(0.2deg);
        }
        .overlay {
          opacity: 0.4;
        }
      }
    }
  }
  //buttons
  .swiper-button-next,
  .swiper-button-prev {
    background-size: 25px 40px;
    position: absolute;
    height: 56px;
    width: 48px;
    //border: 1px solid #fff;
    padding: 25px;
    background-color: rgba(000,000,000,0.4);
    opacity: 0;
    transition: all 0.3s linear;
    top:50%;
    transform: translate(0, -50%);
  }
  .swiper-button-next {
    right:0;
  }
  .swiper-button-prev { 
    left:0;
  }
  //hover container
  &:hover {
    .swiper-button-next, 
    .swiper-button-prev {
      opacity: 0.7;
    }
    .swiper-button-disabled {
      opacity: 0.2;
      pointer-events: all;
    }
  }
  .swiper-pagination-bullet-active {
    background: $evidence none repeat scroll 0 0;
    opacity: 1;
  }
}
//single
.single {
  #content-slide .swiper-container-slide.swiper-container-slide {
    height: 70vh;
    overflow: hidden;
    width: 100%;
  }
  #content-slide .swiper-container-slide.swiper-container-slide .swiper-wrapper .swiper-slide.slide-parallax {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main {
    .post,.portfolio {
      background-color: transparent;
      .content-post {
        padding: 40px 20px 20px 20px;
      }
    }
    .pager li > a, .pager li > span {
      background-color: transparent;
      border: 0px solid transparent;
      border-radius: 0;
      display: inline-block;
      padding: 5px 14px;
    }
  }
}

/*------------------------------
archive
-------------------------------*/
.archive {
  .main {
    background-color: transparent;
    article {
      background-color: #fff;
    }
  }
}

/*Pagination*/
.navigation {
  .nav-links {
    a {
      margin: 10px;
      padding: 5px;
    }
  }
}
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.sticky {
  display: block;
}
.no-header-image {
  .main-wrapper {
    //margin-top: 130px;
  }
}