/************************
Related post
************************/
#related-post {
	padding: 40px 0;
 background-color: #F7F7F7;
	border-width: 1px 0 1px 0;
	border-color:#eee;
	border-style: solid;
	.title-related-post {
		text-align: center;
		margin-bottom: 40px;
	}
	//post
	.content-post {
		background-color:#EEEEEE;
		.box-text {
			padding: 0 10px  10px;
		}
	}
}