/************************
Sidebar
************************/
.sidebar-primary {
  .main-wrapper {
    margin-top: 40px;
  }
  .sidebar {
    background-color: #fff;
  }
}
.sidebar {
  padding:20px;
  margin-bottom: 40px;
  .widget {
    margin-bottom: 30px;
  }
  .widgettitle {
    color: $evidence;
    font-size: 14px;
    font-weight: bold;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 12px 0;
    border: 2px solid #333;
    border-width: 1px 0 1px 0;

  }
  .widget:first-child{
    .widgettitle {
      border-top-width: 0;
      padding-top: 0;
    }
  }
  
  ul {
    padding-left: 20px;;
    li {
      a {
        color:#999;
      }
    }
  }
  /*tags*/
  .tagcloud {
    margin-top: 20px;
    a {
      display: inline-block;
      border: 1px solid #343434;
      border-radius: 3px;
      color: #343434;
      font-weight: 400;
      text-transform: capitalize;
      margin-bottom: 6px;
      margin-right: 6px;
      padding: 3px 10px;
      transition: all 0.22s ease 0s;
      &:hover {
        background-color: #242424;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}